.content-Box-Add-Group-To-House{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: var( --WHITEBG-COLOR); /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    
}

.main-content-Add-Group-To-House{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    overflow-y: scroll;
}
.add-Add-Group-To-House-title{
    margin-top:6%;
    color : var(--ORANGE-COLOR);
}
.add-Add-Group-To-House-semi-title{
    margin-top:6%;
    color : var(--ORANGE-COLOR);
    font-size: 0.8rem;
}
.groups_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 85%;
    gap: 3%;
    margin-top:5%;
    overflow-y: scroll;
}
.School_filter {
    width: 65%;
}
.school_Filter_and_label{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: right;
    gap: 5%;
    align-items: center;
    margin-top: 10%;
    direction: rtl;
}
@media screen and (min-width: 768px) {
    .content-Box-Add-Group-To-House::-webkit-scrollbar {
        display: none;
       }
       .main-content-Add-Group-To-House::-webkit-scrollbar {
        display: none;
       }

       .add-Add-Group-To-House-title{
        font-size: 1.5rem;
        margin-top:3%;
        color : var(--ORANGE-COLOR);
    }
    .add-Add-Group-To-House-semi-title{
        margin-top:1%;
        color : var(--ORANGE-COLOR);
        font-size: 1rem;
    }
    .groups_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 85%;
        gap: 3%;
        margin-top:1%;
        overflow-y: scroll;
    }
    .School_filter {
        width: 20%;
    }
    .school_Filter_and_label{
        gap: 1%; 
        margin-top: 2%;
        direction: rtl;
    }

    .groups_container::-webkit-scrollbar {
        background: var(--PURPLEOP-COLOR) ;
        border-radius: var(--BORDER-RADIUS);
        
        
       }
       .groups_container::-webkit-scrollbar-thumb {
         background-color: var(--PURPLE-COLOR);
         border-radius: var(--BORDER-RADIUS);
       }

       
}