.content-Box-add-group{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: var( --WHITEBG-COLOR); /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    direction: rtl;
}
.main_content_add_group {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    overflow-y: scroll;
      
}
.add-group-title {
    margin-top:6%;
    color : var(--ORANGE-COLOR);
   }
   form {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 500px; /* Adjust the max-width as needed */
    margin: 0 auto;
    margin-top: 10%;
  }
  
  /* Form field styling */
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--BORDER-COLOR); /* Adjust border color */
    border-radius: 5px;
  }
  
  /* Error message styling */
  span.error {
    color: var(--ERROR-COLOR); /* Set your desired error text color */
    margin-top: 5px;
  }
  
  /* Button styling */
  .login_Buttons {
    margin-top: 20px;
  }
  
  .button-login {
    background-color: var(--ORANGE-COLOR);
    color: var(--WHITE-COLOR);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }