.content-Box-add-House {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: var( --WHITEBG-COLOR); /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    
}
.main_content_add_House{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    overflow-y: scroll;
}
input{
    direction: rtl;
}
select {
    direction: rtl;
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--GREY-COLOR);
    resize: vertical; /* Allow vertical resizing of the textarea */
    direction: rtl;
}
.add-house-semi-title{
    margin-top: 5%;
    direction: rtl;
    color:var(--PURPLE-COLOR)
}
@media screen and (min-width: 768px) {
    .main_content_add_House::-webkit-scrollbar {
        background: var(--PURPLEOP-COLOR) ;
        border-radius: var(--BORDER-RADIUS);
        
        
       }
       .add-house-semi-title{
        margin-top: 1%;
       }

       .main_content_add_House::-webkit-scrollbar-thumb {
         background-color: var(--PURPLE-COLOR);
         border-radius: var(--BORDER-RADIUS);
       }
}