@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
}
:root {
  --HEADER-BGCOLOR-OPACITY: rgba(88, 12, 31, 0.8);
  --HEADER-BGCOLOR: #580C1F;
  --ORANGE-COLOR: #CC5A0F;
  --FONT-COLOR: whitesmoke;
  --BTN-COLOR:#3164f4;
}