.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  border:1px solid black;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  background-color: white; /* Changed to white */
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  z-index: 10000; /* Ensure it's above other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.confirm_title {
  color: var(--PURPLE-COLOR);
  margin-bottom: 3%;
}

.confirm-button {
  background-color: var(--ORANGE-COLOR);
  width: 30%;
  color: white;
  border: none; /* Removed border */
  border-radius: var(--BORDER-RADIUS);
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
}

@media screen and (min-width: 768px) {
  .confirm-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background-color: white; /* Changed to white */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    z-index: 10000; /* Ensure it's above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
  }

  .confirm_title {
    color: var(--PURPLE-COLOR);
    margin-bottom: 3%;
  }

  .confirm-button {
    background-color: var(--ORANGE-COLOR);
    width: 30%;
    color: white;
    border: none; /* Removed border */
    border-radius: var(--BORDER-RADIUS);
    padding: 8px 12px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
  }
}
