.group {
    height:5%;
    width: 95%;
    border-radius: 5px;
    background-color: #6200ee;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin:2%
    
}
.group-id , .users-in-group, .students-Count {
    color:whitesmoke;
}
.join-group-btn, .users-in-group-btn {
    width: 30%;
    margin:0%;
}
.title{
    color: #6200ee;
    font-size: 3rem;

}
.sub-title {
    color: red;
    text-wrap: nowrap;
    font-size: 1rem;
}