.content-Box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: #f2f2f2; /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    background-color: var(--ORANGE-COLOR);
    
  }
  .groups_main_content , .To_main_content_groups, .main_content_houses {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    gap: 3%;
    overflow-y: scroll;
  }
  .groups_title {
    color:var(--HEADER-BGCOLOR);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .groups_main_content , .To_main_content_groups{
    background: url('../../images/groups-background-img.png') center/cover no-repeat;
  }