.content-Box-Group {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: var( --WHITEBG-COLOR); /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    direction: rtl;
  }
  
  .Group-Info {
    width: 100%;
    height: 20%;
    border-top:2px solid var(--ORANGE-COLOR);
    border-bottom:2px solid var(--ORANGE-COLOR);
    margin-top:5%;
    display: flex;
    flex-direction: column;
    border-radius: var(--BORDER-RADIUS);
    overflow-y: scroll;
    min-height: 35%;

  }
  .Group-Info .Group_Member {
    padding: 15px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--GREY-COLOR);
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--PURPLE-COLOR);
  }
  .kick_student {
    background-color: var(--ORANGE-COLOR);
    color: white;
    border: none;
    border-radius: var(--BORDER-RADIUS); /* Adjust the radius as needed for the desired roundness */
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer;
    outline: none; /* Remove default button outline */
  }
  .main_page_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top: 10%;
  }
  
  /* Hover effect */
  .kick_student:hover {
    background-color: darkred; /* Change color on hover */
  }
  .Info {
    padding: 15px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--GREY-COLOR);
    margin-top: 5%;
    width: 100%;
    font-size: 1.2rem;
  }
  .group-title {
   margin-top:6%;
   color : var(--ORANGE-COLOR);
  }
  .Group-Info-Tasks {
    width: 100%;
    height: 25%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    overflow-x: scroll; 
    overflow-y: hidden;
    border-right:2px solid var(--ORANGE-COLOR);
    border-left:2px solid var(--ORANGE-COLOR);
    gap:3%;
    min-height: 27%;
    padding:3%; 
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    direction: rtl;
    flex-wrap: wrap;
}
.purple_circle{
  right:0;
  position: absolute;
  margin-right: 5%;
  background-color: var(--PURPLE-COLOR);
  border-radius: 25%;
  width: 6%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.house_for_group{
  margin-right: 3%;
}



  