.House {
    min-height: 75px; /* Or adjust this value as needed */
    width: 100%;
    
    max-height: 300px;
    border-radius: 20px;
    background-color: var(--GREY-COLOR);
    color: var(--PURPLE-COLOR);
    display: flex;
    flex-direction: row-reverse;
    box-shadow: var(--BOX-SHADOW);
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    font-weight: bold;
    overflow: hidden; /* Prevents overflow content from affecting layout */
}
.score{
    font-size: 1rem;
}
.review-bar-and-score{
    width: 100%;
    gap:3%;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
    padding-top: 5px;
    justify-content:flex-start;
    align-items: center;
    height: 0.5rem;
}
.review-bar-out-of{
    background-color: rgb(221, 221, 221);
    width: 60%;
    min-height: 5px;
    height: 0.3rem;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.review-bar-score{
    background-color: #8cff66;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    left: 0px;
    top: 0px;
}
.houses-house-buttons-container{
    display: flex;
    justify-content: center;
    gap:3%;
    padding-left: 10px;
    align-items: center;
    flex-direction: row-reverse;
}
.House-img-container {
    position: relative; /* Ensure the container is positioned */
    height: 80%;
    width: 25%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.House-bar-Info {
    color: var(--LIGHTBLUE-COLOR);
    padding-left: 3%;
    height: 100%;
    width: 40%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 3%;
    overflow-y: scroll;
    font-size: 0.9rem;
    justify-content: start;
}

.house-id {
    color: var(--LIGHTBLUE-COLOR);
}

.watch-house-btn,
.remove-house-btn {
    min-width: 50px;
    box-shadow: var(--BOX-SHADOW);
    height: 30px;
    margin: 0%;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
    margin-left: 5%;
    color: whitesmoke;
    cursor: pointer;
}

.watch-house-btn {
    background-color: var(--ORANGE-COLOR);
}

.remove-house-btn {
    background-color: var(--RED-COLOR);
}

.house_pic {
    width: 100%;
    height: 45px;
    max-height: 150px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
}

.house_id_in_picture {
    
    position: absolute;
    margin-top: 20%;
    margin-left: 15%;
}
@media screen and (min-width: 768px){
   
        .House {
            min-height: 130px; /* Set a different fixed height for larger screens if needed */
            width: 75%;
            max-width: 300px;
            border-radius: 20px;
            background-color: var(--WHITE-COLOR);
            color: var(--PURPLE-COLOR);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 1%;
            font-weight: bold;
            
    }
    
    .House-img-container {
        position: relative; /* Ensure the container is positioned */
        height: 100px;
        width: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;

    }
    
    .House-bar-Info {
        padding-left: 3%;
        height: 200px;
        width: 100%;
        color: var(--LIGHTBLUE-COLOR);
        direction: ltr;
        display: flex;
        flex-direction: column;
        align-items: right;
        gap: 3%;
        overflow-y: scroll;
        font-size: 1.5rem;
        justify-content: start;
    }
    .House-bar-Info p {
        direction: rtl;
        padding-right:10px;
        font-size: 1rem;
    }
    
      .House-bar-Info::-webkit-scrollbar {
        background: var(--LIGHTBLUE-COLOR) ;
        border-radius: var(--BORDER-RADIUS);
        width: 10px;
        
        
        
    }
    .House-bar-Info::-webkit-scrollbar-thumb {
        background-color: var(--PURPLE-COLOR);
        border-radius: var(--BORDER-RADIUS);
    }
      
    
    .house-id {
        color: var(--FONT-COLOR);
        
    }
    
    .watch-house-btn,
    .remove-house-btn {
        width: 30%;
        height: 30%;
        margin: 0%;
        font-size: 1.2rem;
        border-radius: 20px;
        border: none;
        transition: background-color 0.3s;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        cursor: pointer;
    }
    
    .watch-house-btn {
        background-color: var(--ORANGE-COLOR);
    }
    
    .remove-house-btn {
        background-color: var(--RED-COLOR);
    }
    
    .house_pic {
        width: 70%;
        height: auto;
        max-height: 150px; /* Set a maximum height for the image */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 10px;
    }
    
    .house_id_in_picture {
        position: absolute;
        margin-top: 20%;
        margin-left: 6%;
        font-size: 2.5rem
    }
    .houses-house-buttons-container {
        width: 100%;
        min-height: 70px;
        display: flex;
        justify-content: center;  
        align-items: center;  
        gap: 10%; 
        padding-left: 0;  
      }
      .review-bar-and-score{
        width: 100%;
        gap:3%;
        margin-top: 10px;
        display: flex;
        flex-flow: row-reverse;
        padding-right: 10px;
        justify-content:flex-start;
        align-items: center;
        height: 0.5rem;
    }
    
}
