.House {
    height:10%;
    width: 95%;
    border-radius: 5px;
    background-color: whitesmoke;
    border:1px solid #6200ee; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin:2%;
    font-weight: bold;
    
}
.House-img-container{
    height: 100%;
    width: 20%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.House-bar-Info {
    
    height: 100%;
    width: 50%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10%;
    overflow-y: scroll;
}
.group-id , .users-in-group, .students-Count {
    color:black;
}
.watch-house-btn {
    width: 20%;
    height: 50%;
    margin: 0%;
    border-radius: 20px;
    border:none;
    transition: background-color 0.3s;
    margin-left: 5%;
    background-color:#6200ee;
    color:whitesmoke
}
.house_pic {
    width: 100%;
    height: auto;
    max-height: 150px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }