.House {
    min-height:12%;
    width: 100%;
    border-radius: 5px;
    background-color: var(--GREY-COLOR);
    color:var(--PURPLE-COLOR);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin:2%;
    font-weight: bold;
    
}
.House-img-container{
    height: 100%;
    width: 25%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.House-bar-Info {
    padding-left: 3%;
    height: 100%;
    width: 50%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 3%;
    overflow-y: scroll;
    font-size: 0.9rem;
}
.house-id  {
    color:var(--FONT-COLOR);
}
.watch-house-btn {
    width: 15%;
    height: 50%;
    margin: 0%;
    border-radius: 20px;
    border:none;
    transition: background-color 0.3s;
    margin-left: 5%;
    background-color:var(--ORANGE-COLOR);
    color:whitesmoke
}
.remove-house-btn{
    width: 15%;
    height: 50%;
    margin: 0%;
    border-radius: 20px;
    border:none;
    transition: background-color 0.3s;
    margin-left: 5%;
    background-color:var(--RED-COLOR);
    color:whitesmoke
    
  }
.house_pic {
    width: 100%;
    height: auto;
    max-height: 150px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
