.content-Box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    background-color: var(--WHITEBG-COLOR);
    
  }
  .Houses_title{
    color: var(--ORANGE-COLOR);
    font-size: 1.5rem;
  }
  .add_house_btn{
    background-color: var(--ORANGE-COLOR);
    border-radius: var(--BORDER-RADIUS);
    width: 100%;
    font-size: 1.2em;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5%;
  }