.content-Box-House {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: #f2f2f2; /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
    
  }
   .groups_and_teamOwners_and_houseInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:60%;
    
  } 
  .title_and_buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:50%;
    min-height: 30%;
    justify-content: center;
    align-items: center;
    
  }
  .groups_and_teamOwners{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30%;
    gap:15%;

  }
  .House_Info {
    width: 90%;
    min-height: 80%;
    direction: rtl;
    margin-top: 2%; /* Adjust this value */
    margin-bottom: 80%; /* Adjust this value */
  }
 .House-title{
    color : var(--ORANGE-COLOR);
    font-size: 1rem;

 }
 .House_picture img {
    display: flex;
    place-content: center;
    width: 100%;
    height: 90%;
    max-height: 100%;
    object-fit: cover;
  }
  .title_picture{
    
    width: 90%;
    display: flex;
    direction: rtl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5%
  }
  .House_main_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top: 10%;
    gap:10%;
  }
  .House-Info-Tasks {
    width: 100%;
    min-height: 60%; /* Adjust this value as needed */
    border-right:2px solid var(--ORANGE-COLOR);
    border-left:2px solid var(--ORANGE-COLOR);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-content: right;
    align-items: center;
    direction: rtl;
    flex-wrap: wrap;
    padding: 3%;
    gap :2%;
  }
  .buttons_for_house_logic{
    width: 100%;
    min-height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20%
  }
  .edit_house_button , .add_task_button {
    width: 30%;
    height: 100%;
    border-radius: var(--BORDER-RADIUS);
    border: none;
    transition: background-color 0.3s;
    background-color: var(--ORANGE-COLOR);
    color:whitesmoke;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .add_group_button , .add_core_member_button {
    background-color: var(--ORANGE-COLOR);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40%;
    width: 15%;
    border-radius: var(--BORDER-RADIUS); /* Adjust the radius as needed for the desired roundness */
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer;
    outline: none; /* Remove default button outline */
    margin-left: 5%;

  }
  .house_group_info, .member_in_charge_info {
    width: 100%;
    display: flex;
    direction: rtl;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    color: var(--PURPLE-COLOR);
    font-weight: bold;
    background-color: var(--GREY-COLOR);
    border-radius: var(--BORDER-RADIUS);
    flex-wrap: wrap;
    min-height: 40%;
    padding-right: 5%;
 
  }
  .House-title-Tasks {
    color: var(--ORANGE-COLOR)

  }
  .group_of_house_icon{
    margin-left:40%
  }
  .groups_of_house , .members_of_house{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--BORDER-RADIUS);
    border-top:2px solid var(--ORANGE-COLOR);
    border-bottom:2px solid var(--ORANGE-COLOR);
    gap: 20%;

  }
  .House-Tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40%;
    margin-top: 65%;
  }
  .Info {
    padding: 15px;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--GREY-COLOR);
    margin-top: 5%;
    width: 100%;
    font-size: 1.2rem;
    color:var(--PURPLE-COLOR);
    display: flex;
    flex-direction: row;
    align-items: center;
    
   }
   .empty-tasks {
    margin: auto;
    color:var(--PURPLE-COLOR)
   }
   .groups_of_house_content , .members_of_house_content{
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 38%;
    justify-content: center;
    align-items: center;
   }
   .title_for_groups_of_house, .title_for_members_of_house{
    color: var(--ORANGE-COLOR);
    font-size: 1.5rem;
    font-weight: bold;
   }
   .house_Info_Title{
    color: var(--ORANGE-COLOR);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   }
   .member_select_wrapper{
    width: 70%;
    padding-top:5% ;
   }
   .assign_button_wrapper{
    width: 15%;
   }
   @media screen and (min-width: 768px){
    .groups_and_teamOwners{
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 55%;
      margin-bottom: 100%;
      gap:150px
      
      
    }
    .content-Box-House::-webkit-scrollbar {
      display: none;
    }
    .groups_of_house, .members_of_house {
      display: flex;
      flex-direction: column;
      width: 80%;
      min-height: 200px;
      justify-content: space-between;
      align-items: center;
      border-radius: var(--BORDER-RADIUS);
      border-top: 2px solid var(--ORANGE-COLOR);
      border-bottom: 2px solid var(--ORANGE-COLOR);
      gap: 20%;
  }
  .House_Info {
    width: 40%;
    min-height: 80%;
    direction: rtl;
    margin-top: 2%;
    
}
 .groups_and_teamOwners_and_houseInfo{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  padding-bottom: 8%;

  
} 
.buttons_for_house_logic {
  width: 30%;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;
  gap:20%
}
 .add_task_button , .edit_house_button  {
  cursor: pointer;
}
.House-title{
  color : var(--ORANGE-COLOR);
  font-size: 2rem;
}

.house_group_info, .member_in_charge_info {
  width: 100%;
  display: flex;
  direction: rtl;
  height: 80px;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between;
  color: var(--PURPLE-COLOR);
  font-weight: bold;
  background-color: var(--GREY-COLOR);
  border-radius: var(--BORDER-RADIUS);
  flex-wrap: wrap;
  min-height: 40%;
  padding-right: 5%;

}
.House-Tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-height: 250px;
  margin-top: -52%;
  margin-right: 40%; 
}
.House_main_content::-webkit-scrollbar {
 background: var(--PURPLEOP-COLOR) ;
 border-radius: var(--BORDER-RADIUS);
 
}
.House_main_content::-webkit-scrollbar-thumb {
  background-color: var(--PURPLE-COLOR);
  border-radius: var(--BORDER-RADIUS);
}




.House_main_content{
  height: 85%;
  margin-top: 5%;
}
.House-Info-Tasks::-webkit-scrollbar {
  background: var(--PURPLEOP-COLOR) ;
  border-radius: var(--BORDER-RADIUS);
  
 }
 .House-Info-Tasks::-webkit-scrollbar-thumb {
  background-color: var(--PURPLE-COLOR);
  border-radius: var(--BORDER-RADIUS);
}

   
   }

  
