.login-container {
  max-width: 80%;
  height:70%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top:50%
}
.input-box {
  margin-bottom: 15px;
}
.header-container{
  display: flex;
    place-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #6200ee;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
.login_Buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login_Buttons .button-login {
  background-color: #6200ee;
  width: 100%;
  font-size: 1.2em;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5%;
}



.signup-link {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: none;
  color:#6200ee
}