.formContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid var(--WHITEBG-COLOR);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(98, 0, 238, 0.1);
    display: flex;
    flex-direction: column;
    
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    direction: rtl;
    color:var(--PURPLE-COLOR)
}

input,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--GREY-COLOR);
}
.Button-Div{
    margin-top:5%
}

.Button-Div .RegisterButton  {
    background-color: var(--ORANGE-COLOR);
    color: var(--FONT-COLOR);
    padding: 10px;
    border: none;
    border-radius: var(--BORDER-RADIUS);
    cursor: pointer;
    width: 100%;

}

.Title-Div ,.Button-Div{
    display: flex;
    justify-content: center;
}

.Title-Div{
    color:var(--ORANGE-COLOR)
}
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--GREY-COLOR);
    resize: vertical; /* Allow vertical resizing of the textarea */
    direction: rtl;
}
@media screen and (min-width: 768px){
    .Button-Div .RegisterButton  {
        font-size: 1.2rem;
    
    }
}

