.pop-up_container {
    width: 100%;
    display: flex;
}

.pop-up_screen {
    width: 95%;
    min-height: 50px; /* Set a default min-height when there are no students */
    background-color: var(--WHITEBG-COLOR);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    direction: rtl;
    overflow-y: scroll;
    gap: 5%;
    list-style-type: none; /* Remove default list styles */
    border-top: 2px solid var(--ORANGE-COLOR);
    border-bottom: 2px solid var(--ORANGE-COLOR);
}

/* Adjust the min-height when there are students */
.pop-up_container.has-students {
    min-height: 30%;
}

.student-bar {
    margin-top: 2%;
    color: var(--PURPLE-COLOR);
    padding: 15px;
    min-height: 15%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--GREY-COLOR);
}

.student-bar:last-child {
    border-bottom: none;
}

.empty-students {
    margin: auto;
    color: var(--PURPLE-COLOR);
}
