.pop-up_screen {
    width: 95%;
    min-height: 30%;
    background-color: var(--WHITEBG-COLOR);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    direction: rtl;
    overflow-y: scroll;
    gap: 5%;
    list-style-type: none; /* Remove default list styles */
    border:1px solid var(--ORANGE-COLOR)
}

.student-bar {
    margin-top: 2%;
    color: var(--PURPLE-COLOR);
    padding: 15px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: var(--GREY-COLOR);
}

.student-bar:last-child {
    border-bottom: none;
}
