.Task {
  min-width: 50%;
  height: 100%;
  border: 1px solid var(--PURPLE-COLOR);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  transition: all 0.3s ease; /* Add transition for a smoother effect */
}

.Task.active {
  transform: scale(2); /* Adjust the scale factor as needed */
}

  
  .Room-Title {
    width: 100%;
    height: 20%;
    background-color: var(--PURPLE-COLOR);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold; /* Added boldness */
  }
  
  .Description-Status {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    font-size: 1.2rem;
    overflow-y: scroll;
    height: 79%;
  }
  
  .mini-Task {
    margin-top: 6%;
    padding-right: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
  }
  
  .green-circle,
  .red-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px; /* Adjust the margin as needed */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Added box shadow */
  }
  
  .green-circle {
    background-color: #8cff66; /* Lighter green color */
  }
  
  .red-circle {
    background-color: #ff6666; /* Red color */
  }
  .view-icon{
   color:black;
   margin-top:30%;
  }
  @media screen and (min-width: 768px){
    .Task {
      min-width: 150px;
      height: 100%;
      border: 1px solid var(--PURPLE-COLOR);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      transition: all 0.3s ease; /* Add transition for a smoother effect */
    }
    .Description-Status::-webkit-scrollbar {
    display: none;
}
  }