/* UsersIndex.css */
.content-box-users-index {
    position: absolute;
    display: flex;
    align-items: flex-start; /* Adjusted alignment */
    justify-content: start; /* Center the table */
    flex-direction: column;
    top: 7vh; /* Height of the header */
    width: 100%; /* Adjust for the remaining width */
    height: calc(100vh - 7vh); /* Take the remaining viewport height */
    padding: 20px; /* Adjust padding as needed */
    background-color: #f2f2f2; /* Set a background color or style as desired */
    box-sizing: border-box;
    transition: ease-in 0.3s; /* Add transition for smooth animation */
    overflow-y: scroll;
  }
.users-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color : var(--ORANGE-COLOR);
    font-size: 1.5rem;

}
  
  .content-box-users-table {
    width: 100%; /* Ensure the table container takes full width */
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    direction: rtl; /* Right-to-left layout */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    table-layout: fixed; /* Ensure table layout is fixed */
  }
  
  th, td {
    padding: 15px;
    text-align: right; /* Right-align text */
  }
  
  th {
    background-color:  var(--LIGHTBLUE-COLOR);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  td {
    border-bottom: 1px solid #ddd;
  }
  
  td:last-child, th:last-child {
    border-right: none;
  }
  
  .filter-box {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 30%;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .filter-box input,
  .filter-box select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .filter-container {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .join-group-button{
    background-color: var(--ORANGE-COLOR);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40%;
    width: 50px;
    border-radius: var(--BORDER-RADIUS); /* Adjust the radius as needed for the desired roundness */
    padding: 8px 12px; /* Adjust padding as needed */
    cursor: pointer;
    outline: none; /* Remove default button outline */
    margin-left: 5%;
  }
  
.join-group-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above other content */
  }
  
  .join-group-content {
    background-color: #fff; /* White background for content */
    padding: 20px;
    width: 80%;
    height: 85%;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  }
  .title-group-window{
    width: 100%;
    direction: rtl;
    padding:20px;
    color:var(--ORANGE-COLOR)
  }
  .sub-title-group-window{
    width: 100%;
    direction: rtl;
    padding:20px;
  }
  .join-group-groups-container{
    margin-top: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap:5%;
    height: 70%;
  }
  .join-group-group{
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    border-radius: 10px;

  }
  